<a href="https://colab.research.google.com/github/ulti72/bokeh/blob/master/BokehGettingStarted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install bokeh

In [0]:
!pip install pandas

In [0]:
import numpy as np
import pandas as pd

In [0]:
myData =pd.read_csv('Pokemon.csv',delimiter = ',')

In [5]:
myData.head()

                    Name  Total  HP  ...  Speed  Generation  Legendary
0              Bulbasaur    318  45  ...     45           1          F
1                Ivysaur    405  60  ...     60           1          F
2               Venusaur    525  80  ...     80           1          F
3  VenusaurMega Venusaur    625  80  ...     80           1          F
4             Charmander    309  39  ...     65           1          F

[5 rows x 10 columns]

In [0]:
myData[['Total','Name']]

In [0]:
myData[myData.Legendary=='T']